
* {
    box-sizing: border-box;
  }
  
  
  
  a {
    color: inherit;
  }
  
.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
    padding: 50px !important;
  }
  
  .card-grid-space{

  /* display:inline;
  flex-flow:column;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important; */



  display: flex;
 flex-flow: 
column
 
nowrap
;
flex-direction: 
column
;
flex-wrap: 
nowrap
;
justify-content: 
center
;
align-content: 
flex-end
;
align-items: 
center
;

transition: all 0.3s;
}



  



  .card {
    margin: 80px;
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .card p {
    font-size: 0.75em;
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color);
    /*color: white;*/
  }

  .filter_title, .normal_text{
    color: var(--terciary_color);
  }
  
  .card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {  
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }



.card-grid-space{
  margin-top: 20vw;
}





/* Estilos básicos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la ventana */
  z-index: 1; /* Sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
  align-items: center;
  justify-content: center;
  display: none;

  
}

/* Contenido del modal */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem rgba(39, 38, 38, 0.1);
  width: 80%;
  max-width: 600px;
  /* font-family: "Poppins", sans-serif; */
  margin-top: 150px;
    margin-left: 25px;
}

/* Botón de cierre del modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Título del modal */
#modalPlayerName {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Lista de detalles del jugador */
#playerDetails {
  list-style-type: none; /* Sin viñetas */
  padding: 0;
}

#playerDetails li {
  padding: 0.75rem;
  font-size: 0.875rem;
  color: #4a5568;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-container {
  margin: 20px;
  margin-top: 250px;
}

.filter-container{
  display: none;
}


@media (min-width: 1024px) {
  .modal-content {
    width: 60%;
  }
  
  .filter-container {
    margin-top: 17vw;
  }

  .card-grid-space{
    margin-top: 0;
  }

  .card-grid-space {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }

  .card{
    margin: 20px;
    width: 20vw;
    height: 30vw;
  }

  .filter-container{
    display: block;
  }
}

.filter-container form {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.filter-container label, .filter-container input, .filter-container select, .filter-container button {
  font-family: "Poppins", sans-serif;
}


select, input, button{
  padding: 0;
  margin: 0;
}

.filter_bar select, .filter_bar input, .filter_bar button, .filter_bar label{
  padding: 0.8vw;
}