.dl-horizontal {
  font-size: 0;
  text-align: center;
  margin-top: 25px;
}
.dl-horizontal dt, .dl-horizontal dd {
  width: 48%;
  width: calc(50% - 10px);
  margin: 8px 0;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.dl-horizontal dt {
  text-align: right;
  padding-right: 10px;
  /* background-color: aquamarine; */
}
.dl-horizontal dd {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
  /* background-color: tomato; */
}
.dl-horizontal .value-lg {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-size-adjust: auto;
}
.match-container h1, .match-container p, .match-container dt, .match-container dd {
  color: var(--terciary_color);
}
.label-extra {
  display: block;
  font-style: italic;
  font-size: 13px;
}
.match-container {
  font-size: 16px;
}
.match-container h1, .match-container p {
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
}
.match-container h1 {
  font-size: 100% !important;
}

.cancelled-status, .shipped-status, .delivered-status {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.cancelled-status {
  padding: 0.375rem;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--terciary_color);
  background-color: var(--match-lose);
}
.shipped-status {
  padding: 0.375rem;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--terciary_color);
  background-color: var(--match-draw);
}
.delivered-status {
  padding: 0.375rem;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--terciary_color);
  background-color: var(--match-win);
}
.label_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 6vw;
}
.label {
  font-size: medium !important;
  padding: 10px;
  margin-top: 25px;
  text-shadow: 2px 2px 4px black;
}
.icon-yt {
  color: red !important;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  /* Hacer el fondo circular */
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100px; /* Ancho inicial del contenedor */
  /*height: 100px; /* Alto inicial del contenedor */
}
.icon-clicker {
  display: block;
}
.icon-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .icon-yt {
    height: 13vw;
  }
}
@media (max-width: 1024px) {
  .icon-yt {
    height: 130px;
  }
}
@media (max-width: 600px) {
  .icon-yt {
    height: 100px;
  }
}
@media (max-width: 420px) {
  .icon-yt {
    height: 70px;
  }
}
/*.dl-horizontal {
 background-color: dodgerblue;
 dt {
 background-color: lavender;    
 }
 dd {
 background-color: aquamarine;    
 }
 }*/
:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: transparent;
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;
  --shine-degree: 120deg;
  /*--shine-color: rgba(255, 255, 255);*/
  --shine-color: var(--terciary_color);
  --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
  --shine-transition: all 0.65s ease-in-out;
}
.btn {
  position: relative;
  overflow: hidden;
  font-size: 1.1rem;
  /*padding: 1rem 3rem;*/
  border-radius: 20%;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btn:not(:last-child) {
  margin-bottom: 3rem;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
}
.btn-hover::before {
  left: -100%;
  transition: var(--shine-transition);
}
.btn-hover:hover {
  box-shadow: var(--btn-shadow);
}
.btn-hover:hover::before {
  left: 100%;
}
.btn-anim::before {
  -webkit-animation: shine 4s ease-in-out infinite;
  animation: shine 4s ease-in-out infinite;
}
@-webkit-keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  11.5044247788%, 100% {
    left: 100%;
    transition-property: left;
  }
}
@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  11.5044247788%, 100% {
    left: 100%;
    transition-property: left;
  }
}
.btn-alt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btn-alt:not(:last-child) {
  margin-bottom: 3rem;
}
.btn-alt::before, .btn-alt::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
}
.btn-alt:before {
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  left: 0;
  filter: blur(30px);
  -webkit-animation: shine-alt1 1s ease-in-out infinite;
  animation: shine-alt1 1s ease-in-out infinite;
}
.btn-alt:after {
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  left: 30px;
  filter: blur(5px);
  -webkit-animation: shine-alt2 1s ease-in-out infinite;
  animation: shine-alt2 1s ease-in-out infinite;
}
@-webkit-keyframes shine-alt1 {
  0% {
    opacity: 0.5;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 0.6;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
@keyframes shine-alt1 {
  0% {
    opacity: 0.5;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 0.6;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
@-webkit-keyframes shine-alt2 {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}
@keyframes shine-alt2 {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}



@media (max-width: 600px) {


}

@media (max-width: 420px) {
  
}

@media (max-width: 1024px){
  .match-container p {
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
  }

  #container_pc{
    display: none;
  }

  .match-container p {
    font-size: 20px;
  }

  .table-container{
    display: none;
  }
}

@media (min-width: 1024px) {

  .grey-line{
    width: 80%;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
  }

  #container_mobile{
    display: none;
    width: 100%;
  }

  #container_pc{
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }

  .match-container{
    width: 100%;
  }

  .partido_resultado_equipo_nombres{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .partido_resultado_equipo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partido_numero, .partido_resultado, .partido_other{
    width: 100%;
  }

  .partido_resultado img {
    margin-bottom: 0.5em;
    width: 10vw;
    height: auto;
    margin-right: 3vw;
    margin-left: 3vw;
    border-radius: 10px;
  }

  .partido_resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #campo_nombre{
    margin-right: 1vw;
  }

  #partido_numero{
    flex-grow: 1;
  }

  .partido_other {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #partido_dinamica{
    text-shadow: 2px 2px 4px black;
  }

  .partido_resultado_goles {
    margin: 0 !important;
    font-size: 2.5vw !important;
    width: 7vw;
  }

  #local_nombre{
    font-size: 1.5vw;
  }

  .minutos_showed{
    text-shadow: 2px 2px 4px black;
  }

  /* Table Style */

  table {
    width: 80%;
    border-collapse: collapse;
  }

  table *{
    font-size: 1.3vw;
  }

  tbody{
    border-color: #edf2f7;  
  }

  tr{
    background-color: #ffffff;
  }

  .tr-even{
    background-color: #f9fafb;
  }

  td{
    padding: 0.3vw !important;
    font-size: 0.875rem; 
    color: #4a5568; 
    white-space: nowrap;
  }

  td a{
    text-decoration: none;
    color: #212121;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td a:hover{
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
    text-shadow: 1px 1px 2px white;
  }

  .match_title{
    color: #212121; 
    text-decoration: none; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-container{
    overflow: auto;
    /*overflow-y: visible; 
    overflow-x: visible;*/ 
    border-radius: .8rem; 
    box-shadow: 0 0 0.5rem rgba(39, 38, 38, 0.1);
    /*display: none;*/
  }

  .table-container {
    margin-top: 2vw;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

  }

  .table_radius{

    border-radius: 0.8rem;
    width: 100%;
  }

  .table-header{
    background-color: #f9fafb; 
    border-bottom-width: 0.125rem; 
    border-color: #edf2f7;
  }

  .table-header-row{
    /*background-color: #ff4b4b; */
    border-bottom-width: 0.125rem; 
    border-color: #edf2f7;
  }

  .table-header-row *{
    font-size: 1.3vw;
    text-wrap: nowrap;
  }

  .table-header-row th{
    padding: 0.75rem;
  }

  th, td{
    border-bottom: 1px solid var(--secondary-color);
  }

  .table-header-row th{
    background-color: var(--primary-color);
  }

  td{
    padding: 0.75rem; 
    font-size: 0.875rem; 
    color: #4a5568; 
    white-space: nowrap;
  }

}

.match_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between; /* Cambio a space-between para distribuir el espacio entre los bloques */
  align-items: center;
}

.match_info{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.match_info p{
  width: 100%;
}

.partido_barra{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.bar_container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.minutos_perdidos_bar, .minutos_ganados_bar, .minutos_empatados_bar{
  height: 4vw;
  border: 1px solid lightgray;

  transition: all 0.5s ease;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.minutos_perdidos_bar{
  width: 33%;
  background-color: #ea0d0d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.minutos_ganados_bar{
  width: 33%;
  background-color: #0ac200;
}

.minutos_empatados_bar{
  width: 33%;
  background-color: #e6d100;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.color-green{
  color: #0ac200;
}

.color-red{
  color: #ea0d0d;
}

.resalted{
  font-weight: 600; 
}

.section_title{
  margin-top: 3vw;
  margin-bottom: 0 !important;
  font-size: 2vw;
}

.match_video{
  width: 60vw;
  height: 30vw;
}

.partido_resultado_goles{
  letter-spacing: 0.5vw;
}

.fa-circle{
  margin-right: 1.5vw;
}

.match_minutos{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.partido_partes{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.partido_numero, .partido_other {
  flex-grow: 1;
  text-align: center; /* Centramos el texto dentro de cada bloque */
}

.match_header *{
  font-size: 1.25vw;
}
