
h1{
    font-size: 5vw !important;
    margin-bottom: 0.5rem;
}

.table-container{
    overflow: auto;
    /*overflow-y: visible; 
    overflow-x: visible;*/ 
    border-radius: .8rem; 
    box-shadow: 0 0 0.5rem rgba(39, 38, 38, 0.1);
    /*display: none;*/
}

.filter-container label{
    color: var(--terciary_color);
    padding: 0.8vw;
    font-size: 1.0vw;
}

@media (min-width: 1024px) {
    .table-container {
        margin-top: 2vw;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

    }

    .table_radius{
        border-radius: 0.8rem;
        /*width: 100%;*/
    }
}

.controls #categoryFilter {
    display: none; 

}



tacle {
    width: 100%;
}

.table-header{
    background-color: #f9fafb; 
    border-bottom-width: 0.125rem; 
    border-color: #edf2f7;
}

.table-header-row{
    /*background-color: #ff4b4b; */
    border-bottom-width: 0.125rem; 
    border-color: #edf2f7;
}

.key-heading{
    width: 3.75rem; 
    padding: 0.75rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-align: left;
}

.details-heading{
    padding: 0.75rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-align: left;
}

.status-heading{
    width: 6rem; 
    padding: 0.75rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-align: left;
}

.date-heading{
    /* padding: 1.5rem;  */
    padding: 0.75rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-align: left;
}

.price-heading{
    /* padding: 2rem;  */
    padding: 0.75rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    letter-spacing: 0.025em; 
    text-align: left;
}

tbody{
    border-color: #edf2f7;  
}

tr{
    background-color: #ffffff;
}

.tr-even{
    background-color: #f9fafb;
}

td{
    padding: 0.75rem; 
    font-size: 0.875rem; 
    color: #4a5568; 
    white-space: nowrap;
}

a{
    font-weight: 600; 
    color: #212121; 
    text-decoration: none; 
}


a:hover{
    text-decoration: underline;
}

.cancelled-status, .shipped-status, .delivered-status{
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 0px solid #000000;
    /*text-shadow: 0px 0px 4px rgba(0,0,0,1);*/
    color: black;

    
}

.cancelled-status{
    padding: 0.375rem; 
    font-size: 0.625rem; 
    font-weight: 500; 
    letter-spacing: 0.05em; 
    background-color: var(--match-lose); 

}

.shipped-status{
    padding: 0.375rem; 
    font-size: 0.625rem; 
    font-weight: 500; 
    letter-spacing: 0.05em;
    background-color: var(--match-draw); 

}

.delivered-status{
    padding: 0.375rem; 
    font-size: 0.625rem; 
    font-weight: 500; 
    letter-spacing: 0.05em;
    background-color: var(--match-win); 
}

.grid-container{
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1rem;
    display: none;
}

@media (max-width: 1024px) {
    .grid-container {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        
    }

    .table-container{
        display: none;
    }
}

.grid-item{
    background-color: #ffffff; 
    padding: 15px; 
    border-radius: 0.5rem; 

    /*box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);*/

    box-shadow: 7px 7px 3px 0px var(--primary-color);
    -webkit-box-shadow: 7px 7px 3px 0px var(--primary-color);
    -moz-box-shadow: 7px 7px 3px 0px var(--primary-color);
    /*box-shadow: 7px 7px 3px 0px rgba(0,0,0,0.75);*/
    margin-bottom: 1rem;
    max-width: 75vw;
}

.grid-top{
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
    font-size: 1.0rem; 
    color: #374151;
    margin-bottom: .5rem;
}

.grid-date{
    color: #9ca3af;
}

.grid-desc{
    font-size: 0.875rem; 
    color: #4b5563;
    margin-bottom: .5rem;
    max-width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}

.grid-price{
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #000000;
}

.grid-a{
    font-weight: 600; 
    color: #ff4b4b; 
    text-decoration: none; 
}

.highlight {
    background-color: #f0f0f0;
}

.controls {
    margin-bottom: 1em;
    display: none;
}

.grid-item *{
    font-size: 4.5vw !important;
    white-space: nowrap !important;
    /*overflow: hidden !important;*/
    text-overflow: ellipsis !important;
}
@media (min-width: 1024px) {
    .controls {
        display: block;
    }
    
    
    .filter-btn, .sort-btn, .search-input {
        margin-right: 1em;
        padding: 0.5em 1em;
        cursor: pointer;
        font-weight: 600; 
        color: #212121; 
        text-decoration: none; 
        border-radius: .5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-color: #edf2f7;
        font-family: "Poppins", sans-serif;
        
    }
    
    .body-container h1{
        /*text-shadow: 0px 0px 9px rgba(255,255,255,1);*/
    }
    
    
    .controls {
        width: calc(100% - 2em); /* Ajustar según sea necesario */
        max-width: 1200px; /* Ajustar para que coincida con tu diseño */
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .filter-btn, .sort-btn, .search-input {
        margin-right: 1em;
        padding: 0.5em 1em;
        cursor: pointer;
        font-weight: 600; 
        color: #212121; 
        text-decoration: none; 
        border-radius: .5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-color: #edf2f7;
        font-family: "Poppins", sans-serif;
        flex: 1; /* Añadido para que los botones se estiren y llenen el espacio */
    }
    
    /*
    .table-container {
        overflow: auto; 
        border-radius: .8rem; 
        box-shadow: 0 0 0.5rem rgba(39, 38, 38, 0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .table-container tr{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }
        */
    .match-table-body_element{    
        cursor: pointer;
        transition: all 0.3s;
        overflow: visible !important;
    }
    
    .match-table-body_element:hover{
        transform: scale(1.1);
        overflow: visible !important;
    }

    .match_title{
        font-weight: 600; 
        color: #212121; 
        text-decoration: none; 
    }


    
    
    table {
        width: 90%;
        border-collapse: collapse;
    }

    table *{
        font-size: 20px;
    }
    
    .table-header-row *{
        font-size: 20px;
    }

    th, td{
        border-bottom: 1px solid var(--secondary-color);
    }


    .cancelled-status, .shipped-status, .delivered-status{
        display: flex;
        padding: 0.375rem;
        font-size: 1.3rem;
        font-weight: 500;
        /* min-width: 150px; */
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }


    .table-header-row th{
        background-color: var(--primary-color);
    }
}

.no-matches {
    text-align: center;
    font-size: 18px;
    color: #888; 
    padding: 20px;
}
label{

    font-size: 16px;
    color: #ffffff;
    margin: 2px;
}

.filter-container {
    margin: 20px;
    margin-top: 250px;
  }
  
  .filter-container{
    display: none;
  }
  
  .filter-container{
    display: none;
  }
  
  .mobile_filter-container{
    display: block;
    z-index: 1005;
  }
  
  #mobile_filter_btn {
    display: inline-block; /* Para que el div se ajuste al tamaño de su contenido */
    width: fit-content; /* Ajusta el ancho al contenido */
    height: fit-content; /* Ajusta la altura al contenido */
    padding: 0; /* Elimina cualquier relleno interno */
    margin: 0;
    margin-left: 6%;
  }
  
  .filter-icon{
    font-size: 10vw;
    color: var(--terciary_color);
    margin-left: 6%;
  }

@media (max-width: 600px) {

    .mobile_filter-container{
      display: block;
      margin-top: 27vw;
    }
  }
  
  @media (max-width: 420px) {
    
  }  

@media (min-width: 1024px) {

    .mobile_filter_menu-container{
      display: none;
    }
  
    .mobile_filter-container{
      display: none;
    }
  
    .filter-container{
      display: block;
    }
  
    .modal-content {
      width: 60%;
    }
    
    .filter-container {
      margin-top: 17vw;
    }
  
    .card-grid-space{
      margin-top: 0;
    }
  
    .card-grid-space {
      display: flex;
      flex-flow: column nowrap;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
    }
  
    .card{
      margin: 20px;
      width: 20vw;
      height: 30vw;
    }
  
    .filter-container{
      display: block;
    }
  }


  